<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ site.name }}</title>
    <meta name="description" content="{{ site.meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}/">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta name="twitter:site" content="@KubaLojewski">
    <meta name="twitter:creator" content="@KubaLojewski">
    <meta name="twitter:image" content="{{ site.url }}/assets/images/profile.jpg">
    <meta name="twitter:card" content="summary">

    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400&subset=latin,latin-ext" />
    
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">

    <link rel="next" href="http://trytotrust.me/page2/" />

</head>
<body class="{% if page.post_class %}{{page.post_class}}{% else %}home-template{% endif %}">

    {{ content }}
    <footer class="site-footer clearfix">
      <section class="copyright">
        <a href="{{ site.baseurl }}">{{ site.name }}</a> &copy; 2014
      </section>
      <section class="poweredby">Written with &#9829 by <a href="https://twitter.com/KubaLojewski">Yours Truly</a></section>
    </footer>
    
    <script type="text/javascript" src="/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/assets/js/index.js"></script>

</body>
</html>
